* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    border: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: #000000e7;
    color: rgba(39, 35, 35, 0.58);
    display: flex;
    align-items: center;
    /* margin-top: 10px; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* backdrop-filter: blur(10px); */
}

.nav-logo {
    height: 60px;
    width: 600px;
    display: flex;
    align-items: center;

}

.nav-logo img {
    height: 90px;
    width: 90px;
    align-items: center;
    /* background-color: white; */
    border-radius: 50%;

}

.nav-logo p {
    font-size: 3.4rem;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.border {
    border: 1.5px solid transparent;
}

.nav-in1 a {
    display: inline;
    margin-left: 3%;
    padding: 10px;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    /* background-color: rgba(255, 255, 255, 0); */
}

.nav-in1:last-child {
    align-items: center;
    right: 0;
    /* display: none; */
}

.nav-in1 a:hover {
    background-color: rgba(11, 82, 56, 0.865);
}

a.menubar {
    display: none;
}

.nav-in1 {
    margin-left: 15%;
    width: 1200px;
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    background-color: rgba(7, 7, 7, 0.815);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar a {
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}

.sidebar a:hover {
    background-color: rgba(11, 82, 56, 0.865);
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

.slider-container {
    width: 100%;
    overflow: hidden;
    /* margin-top: -20px; */
}

.slider {
    display: flex;
    /* align-items: center; */
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
    /* Full width */
    height: 100vh;
    /* Full viewport height */
    background-size: cover;
    background-position: center;
}


.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Place text above the slider */
    text-align: center;
    color: #fbfbfb;
    backdrop-filter: grayscale(.8);
}

.intro h1 {
    font-size: 6rem;
}

.sliding-text1 p {
    font-size: 3.4rem;
}

.intro {
    width: auto;
    /* position: absolute; */
    top: 0%;
    /* Move the text off-screen initially */
    /* left: 0; */
    /* width: 100%; */
    /* text-align: center; */
    animation: slideDown 2s forwards;
    /* Use keyframe animation */
}

@keyframes slideDown {
    0% {
        top: 0%;
        /* Start position */
    }

    100% {
        top: 50%;
        /* End position */
    }
}


.sliding-text1 button {
    font-size: 1.4rem;
    padding: 10px;
    color: white;
    background-color: blue;
    border: none;
    height: 50px;
    width: 140px;
    margin-top: 1.2%;
    border-radius: 10px;
}

.sliding-text1 button:hover {
    font-size: 1.7rem;
    padding: 10px;
    color: blue;
    background-color: white;
    border: none;
    height: 52px;
    width: 170px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.social div {
    height: 100px;
    width: 100px;
    background-color: rgba(11, 82, 56, 0.865);
    border-radius: 50%;
}

.social a {
    color: white;
}

.social i {
    font-size: 3rem;
    margin-top: 25%;
}

.social i:hover {
    font-size: 3.4rem;
}

.bio-head {
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bio-head-up {
    color: #fff !important;
    /* font-size: calc(2.125rem + 10.5vw); */
    font-weight: 900 !important;
    line-height: 1.2;
    -webkit-text-stroke: 0.8px rgba(11, 82, 56, 0.865);
    display: block;
    margin-block-start: 0;
    margin-block-end: -0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16rem;
}

.bio-head-in {
    color: #a2cbd7 !important;
    position: absolute;
    font-weight: 900 !important;
    /* font-size: calc(1.375rem + 1.5vw); */
    display: block;
    margin-block-start: 1.6em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 4.8rem;
}

.bio {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* text-align: center; */
    margin-top: 120px;
    background: linear-gradient(to right, antiquewhite, rgba(111, 176, 198, 0.71));
    /* Red to Blue gradient */
    background-size: cover;
    height: 55vh;
    padding: 90px;
}

.bio-photo {
    border-radius: 20px;
}

.bio-photo img {
    /* background-image: url("about.jpg");
    background-size: cover; */
    height: 850px;
    width: 100%;
    /* padding: 20px; */
    margin-right: 50px;
    /* margin-left: 15%; */
    border-radius: 20px;
}

.my-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 5px; */
    border-top: 1px solid var(--border-color);
    padding-top: 30px;
    margin-top: 30px;
}

.single-info {
    display: flex;
    width: max-content;
}

.single-info p {
    padding: 3px;
    margin-left: 10px;
}

.bio-dis {
    /* padding: 50px; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-right: 220px;
    font-size: 1.6rem;
    margin-left: 60px;
    margin-top: 40px;
    height: 100%;
    width: 50%;
}

.bio-dis hr {
    height: 8px;
    border: none;
    background-color: rgba(11, 82, 56, 0.865);
}

.bio-dis p {
    /* padding: 30px; */
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.45);
}

.bio-dis h1 {
    margin-bottom: 20px;
    color: rgba(11, 82, 56, 0.865);
}

.bio-dis span {
    font-size: 1.9rem;
}

.follow-social {
    list-style-type: none;
    display: flex;
    width: 650px;
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.774);
    margin-top: 40px;
    margin-left: -40px;
}

.follow-social i {
    padding: 25px;
    font-size: 2.8rem;
    padding-top: 0;
    color: rgba(7, 106, 70, 0.865);
}

.follow-social i:hover {
    font-size: 3.2rem;
}

.ad {
    height: 200px;
    width: 100%;
    margin-top: 180px;

}

.ad-in {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    /* width: 80%; */

}

.about {
    height: 650px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(to right, antiquewhite, rgba(111, 176, 198, 0.71));
    /* Red to Blue gradient */
    background-size: cover;
    height: 65vh;
    margin-top: 120px;
    border-radius: 20px;

}

.about-head {
    text-align: center;
    padding: 80px;
    font-size: 1.8rem;
    color: rgba(11, 82, 56, 0.865);
}

.about-in {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 30%; */
    /* background-color: antiquewhite; */
    /* border-radius: 20px; */
    height: 400px;
    width: 100%;

    /* margin-left: 11%; */
}

.about-in i {
    font-size: 2.4rem;
    color: rgba(11, 82, 56, 0.865);

}

.about-card {
    height: 300px;
    width: 19%;
    padding: 50px;
    background-color: wheat;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.7rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
    border-radius: 25px;
    border: 15px solid rgb(255 255 255);
}


.about-card h2 {
    color: rgba(7, 106, 70, 0.865);
}

.about-card h2:hover {
    color: rgb(7, 106, 70);
    font-size: 2.8rem;
}

.about-card p {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.45);
}


.ex-head {
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ex-head-up {
    color: #fff !important;
    /* font-size: calc(2.125rem + 10.5vw); */
    font-weight: 900 !important;
    line-height: 1.2;
    -webkit-text-stroke: 0.8px rgba(11, 82, 56, 0.865);
    display: block;
    margin-block-start: 0;
    margin-block-end: -0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16rem;
}

.ex-head-in {
    color: #a2cbd7 !important;
    position: absolute;
    font-weight: 900 !important;
    /* font-size: calc(1.375rem + 1.5vw); */
    display: block;
    margin-block-start: 1.6em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 4.8rem;
}

.timeline {
    position: relative;
    max-width: 1200px;
    /* height: auto; */
    margin: 100px auto;
    /* background-color: wheat; */
}

.experience {
    padding: 10px 50px;
    position: relative;
    width: 45%;
    /* background-color: wheat; */
    animation: movedown1 1s linear forwards;
    opacity: 0;
}

@keyframes movedown1 {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.experience:nth-child(1) {
    animation-delay: 0s;
}

.experience:nth-child(2) {
    animation-delay: 1s;
}

.experience:nth-child(3) {
    animation-delay: 3.6s;
}

.text-box {
    padding: 20px 30px;
    background: wheat;
    position: relative;
    border-radius: 6px;
    font-size: 22px;
}

.left-cont {
    left: -65px;
}

.right-cont {
    left: 56%;
}

.experience img {
    position: absolute;
    width: 120px;
    border-radius: 50%;
    right: -108px;
    top: 32px;
    z-index: 10;
}

.right-cont img {
    left: -103px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 100%;
    background: wheat;
    top: 0;
    left: 50%;
    margin-left: 17px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.text-box h2 {
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-cont-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 65px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid wheat;
    right: -15px;
}

.right-cont-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 65px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid wheat;
    left: -15px;
}

.define {
    height: 800px;
    width: 100%;
    display: flex;
    margin-top: 120px;
}

.define-con {
    height: 700px;
    width: 55%;
    /* padding-right: 10px; */
    /* --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0; */
    display: flex;
    background-color: wheat;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 0;
    margin-top: 50px;
}

/* margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
} */
.define-sec p {
    font-size: 1.4rem;
}

.define-sec {
    padding: 30px;
    width: 40%;
}

.define-sec i {
    font-size: 2rem;
}

.defineimg {
    margin-top: 70px;
    margin-left: -50px;
    padding-left: 40px;

}

.channel-head {
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.channel-head-up {
    color: #fff !important;
    /* font-size: calc(2.125rem + 10.5vw); */
    font-weight: 900 !important;
    line-height: 1.2;
    -webkit-text-stroke: 0.8px rgba(11, 82, 56, 0.865);
    display: block;
    margin-block-start: 0;
    margin-block-end: -0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 8rem;
}

.channel-head-in {
    color: #a2cbd7 !important;
    position: absolute;
    font-weight: 900 !important;
    /* font-size: calc(1.375rem + 1.5vw); */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 4.8rem;
}


.channels {
    height: auto;
    width: 100%;
    background-color: rgba(198, 241, 255, 0.059);
    margin-bottom: 50px;
}

.channel-con {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    /* margin-left: 160px; */
    justify-content: center;
    overflow: hidden;
    margin-top: 80px;
}

.channel-link {
    background-color: pink;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 50%;
    padding: 50px;
}

.you-body {
    height: 950px;
    width: 100%;
    background-color: rgba(198, 241, 255, 0.059);
}

.you-head {
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.you-head-up {
    color: #fff !important;
    /* font-size: calc(2.125rem + 10.5vw); */
    font-weight: 900 !important;
    line-height: 1.2;
    -webkit-text-stroke: 0.8px rgba(11, 82, 56, 0.865);
    display: block;
    margin-block-start: 0;
    margin-block-end: -0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 8rem;
}

.you-head-in {
    color: #a2cbd7 !important;
    position: absolute;
    font-weight: 900 !important;
    /* font-size: calc(1.375rem + 1.5vw); */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 4.8rem;
}

.you-con {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    /* margin-left: 160px; */
    justify-content: center;
    overflow: hidden;
    margin-top: 80px;
}

.you-card {
    background-color: white;
    height: 400px;
    width: 30%;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.you-card iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.744);
    /* Footer background color */
    color: #fff;
    /* Footer text color */
    padding: 50px 0;
    margin-top: 60px;
    height: 500px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    height: 310px;
    /* margin-bottom: 20px; */
    font-size: 1.5rem;
}

.footer-section h2 {
    color: #fff;
    /* Section title color */
    margin-bottom: 20px;
}

/* .footer-section p {
    font-size: 22px;
} */

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    /* Link color */
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #666;
    /* Border color */
    font-size: 18px;
}

.text-input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* Input border color */
}

.contact-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    /* Button background color */
    color: #fff;
    /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #0056b3;
    /* Button hover background color */
}

.btn-big {
    padding: 15px;
}

.mar {
    margin-right: 40px;
}


@media screen and (max-width: 1876px) {
    .nav-in1 a:last-child {
        align-items: center;
        right: 0;
    }

    .navbar {
        height: 45px;
    }

    .nav-logo img {
        margin-top: 15px;
        height: 70px;
        width: 70px;
    }

    .nav-logo p {
        font-size: 2rem;
    }

    .nav-in1 {
        margin-left: 0;
    }

    .nav-in1 a {
        font-size: 1.4rem;
    }

    .intro h1 {
        font-size: 3.2rem;
    }

    .sliding-text1 p {
        font-size: 3rem;
    }

    .social div {
        height: 85px;
        width: 85px;
    }

    .social i {
        font-size: 2.4rem;
    }

    .bio {
        height: auto;
        align-items: center;
    }

    .bio-head {
        margin-top: 20px;
    }

    .bio-head-up {
        font-size: 10rem;
    }

    .bio-head-in {
        font-size: 3.2rem;
    }

    .bio-photo img {
        height: 550px;
        width: auto;
    }

    .bio-dis {
        margin-left: 15px;
        margin-top: -30px;
        font-size: 1rem;
    }

    .my-info {
        padding-top: 0;
        margin-top: 0;
        grid-template-columns: repeat(auto-fill, minmax(227px, 1fr));
    }

    .single-info {
        width: max-content;
    }

    .bio-dis span {
        font-size: 1.2rem;
    }

    .follow-social {
        font-size: 1.6rem;
    }

    .follow-social i {
        font-size: 2.2rem;
    }

    .ad {
        margin-top: 70px;
    }

    .about {
        width: 90%;
        margin-left: 5%;
        margin-top: 70px;
        height: auto;
    }

    .about-head {
        padding: 45px;
        font-size: 1.4rem;
    }

    .about-in {
        margin-top: -75px;
    }

    .about-card {
        font-size: 1.2rem;
        padding: 15px;
        height: 225px;
        width: 23%;
        margin-left: 3%;
        margin-right: 3%;
        border: 10px solid rgb(255 255 255);
    }

    .ex-head {
        margin-top: 30px;
    }

    .ex-head-up {
        font-size: 8rem;
    }

    .ex-head-in {
        font-size: 2.6rem;
    }

    .timeline {
        margin-left: 3%;
    }

    .left-cont {
        left: -75px;
    }


    .right-cont {
        width: 38%;
    }

    .text-box {
        font-size: 18px;
    }

    .define {
        margin-top: 0;
    }

    .define-sec {
        padding: 25px;
        width: 39%;
    }

    .defineimg img {
        height: 500px;
    }

    .channel-head-up {
        font-size: 5rem;
    }

    .channel-head-in {
        font-size: 2.4rem;
    }

    .you-head-up {
        font-size: 5rem;
    }

    .you-head-in {
        font-size: 2.4rem;
    }

    footer {
        margin-top: 5px;
        height: 400px;
    }

    .container {
        padding-top: 40px;
    }

    .footer-section {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1106px) {
    .my-info {
        grid-template-columns: repeat(auto-fill, minmax(227px, 1fr));
    }

    .bio {
        height: auto;
    }

    .follow-social {
        margin-top: 0;
    }
}

@media screen and (max-width: 1023px) {
    .nav-in1 a:last-child {
        align-items: center;
        right: 0;
    }

    .navbar {
        height: 45px;
    }

    .nav-logo p {
        font-size: 2rem;
    }

    .nav-in1 a {
        font-size: .9rem;
        padding: 0;
    }

    .nav-logo img {
        height: 60px;
        width: 60px;
    }

    .nav-in1 {
        margin-left: 0;
        width: 1000px;
        margin-top: -10px;
        /* font-size: 0.8rem; */
    }

    .intro {
        height: 450px;
        width: 520px;
    }

    .intro h1 {
        font-size: 3.8rem;
    }

    .sliding-text1 p {
        font-size: 3rem;
    }

    .sliding-text1 button {
        /* height: 60px;
        width: 140px; */
        margin-top: 10px;
        padding: 8px;
        /* font-size: 1.2rem; */
    }

    .sliding-text1 button:hover {
        background-color: white;
        color: blue;
        font-size: 1.5rem;
    }

    .social i {
        font-size: 2.1rem;
        margin-top: 20%;
    }

    .social i:hover {
        font-size: 2.3;
    }

    .social div {
        height: 60px;
        width: 60px;
    }

    .bio-head-up {
        -webkit-text-stroke: 0.4px rgba(11, 82, 56, 0.865);
        font-size: 8rem;
    }

    .bio-head-in {
        font-size: 2.6rem;
    }

    .bio {
        height: auto;
        align-items: center;
        display: flex;
        margin-top: 75px;
        padding: 0px;
    }

    .bio-photo {
        padding: 20px;
        /* height: 450px;
    width: 287px; */
    }

    .bio-photo img {
        height: 460px;
        padding-top: 10px;
        width: auto;
        margin-top: 70px;
        margin-right: 0px;
    }

    .bio-dis {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 1rem;
        margin-top: 65px;
    }

    .bio-dis span {
        font-size: 1.2rem;
    }

    .my-info {
        display: block;
    }

    .follow-social {
        font-size: 1.5rem;
        align-items: center;
        margin-top: 0px;
    }

    .follow-social i {
        font-size: 2rem;
        padding: 17px;
    }

    .ad {
        height: 100px;
        margin-top: 0%;
        margin-bottom: 100px;
    }

    .about {
        height: 900px;

    }

    .about-head {
        font-size: 1.6rem;
        padding: 25px;
    }

    .about-in {
        display: block;
        margin-top: 0;
    }

    .about-card {
        margin-left: 20%;
        margin-top: 20px;
        width: 50%;
        font-size: 1.2rem;
        height: 150px;
    }

    .ex-head {
        margin-top: 25px;
    }

    .ex-head-up {
        -webkit-text-stroke: 0.4px rgba(11, 82, 56, 0.865);
        font-size: 6rem;
    }

    .ex-head-in {
        font-size: 2rem;
    }

    .timeline {
        margin: 50px auto;
        margin-left: 30px;
    }

    .timeline::after {
        left: 35px;
    }

    .experience {
        width: 60%;
        padding-left: 150px;
        padding-right: 25px;
        padding-top: 30px;
    }

    .left-cont {
        left: -15px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-cont {
        left: -15px;
    }

    .left-cont img,
    .right-cont img {
        left: 10px;
    }

    .left-cont-arrow,
    .right-cont-arrow {
        border-right: 15px solid wheat;
        border-left: 0;
        left: -15px;
    }

    .define {
        height: 1250px;
        display: block;
        margin-top: 100px;
    }

    .define-con {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, .2fr);
        /* margin-left: 15%; */
        width: 80%;
        height: 550px;
    }

    .define-sec {
        width: 100%;
        padding: 15px;
        /* margin-left: 0; */
    }

    .defineimg {
        text-align: center;
    }

    .channel-head-up {
        -webkit-text-stroke: 0.4px rgba(11, 82, 56, 0.865);
        font-size: 3.8rem;
    }

    .channel-head-in {
        font-size: 2rem;
    }

    .you-head-up {
        -webkit-text-stroke: 0.4px rgba(11, 82, 56, 0.865);
        font-size: 3.8rem;
    }

    .you-head-in {
        font-size: 2rem;
    }

    .you-body {
        height: 975px;
    }

    .you-head {
        font-size: 1.8rem;
    }


    .you-con {
        margin-left: 0;
        justify-content: space-evenly;
    }

    .you-card {
        width: 46%;
        height: 300px;
        margin: 0;
        margin-bottom: 20px;
    }

    footer {
        height: 800px;
        padding: 0%;
    }

    .footer-section {
        font-size: 1rem;
        height: 200px;
    }

    .footer-content {
        display: -ms-inline-grid;
    }

    .footer-section form {
        height: 500px;
        width: 50%;
        margin-bottom: 20px;
    }

    .footer-section button {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 767px) {
    .hideonmobile {
        display: none;
    }

    a.menubar {
        display: block;
    }

    .nav-in1 a:last-child {
        align-items: center;
        right: 0;
        font-size: 1rem;
        margin-top: 10px;
        /* margin-left: 400px; */
        margin-inline-start: auto;
        margin-right: 10px;
    }

    .navbar {
        height: 45px;
    }

    .nav-logo {
        width: 1350px;
    }

    .nav-logo img {
        height: 50px;
        width: 50px;
    }

    .nav-logo p {
        font-size: 1.2rem;
    }

    .nav-in1 a {
        font-size: .5rem;
    }

    .intro {
        height: 350px;
        width: 320px;
    }

    .intro h1 {
        font-size: 2.4rem;
    }

    .sliding-text1 p {
        font-size: 2.4rem;
    }

    .social div {
        height: 50px;
        width: 50px;
    }

    .social i {
        font-size: 1.6rem;
    }

    .bio-head {
        margin-top: 20px;
    }

    .bio-head-up {
        font-size: 4rem;
    }

    .bio-head-in {
        font-size: 1.4rem;
    }

    .bio {
        display: block;
        height: 1000px;
        margin-top: 50px;
    }

    .bio-photo img {
        height: 375px;
        margin-top: 20px;
        margin-left: 10%;
    }

    .bio-dis {
        width: 95%;
        margin-left: 5px;
        margin-top: 30px;
    }

    .follow-social i {
        font-size: 1.8rem;
        padding: 8px;
    }

    .ad {
        /* margin-top: px; */
        height: 0px;
    }

    .ad-in {
        margin-top: 15px;
    }

    .ad-in img {
        height: 60px;
        width: 60px;
    }

    .about {
        width: 90%;
        margin-left: 5%;
        height: 820px;
    }

    .about-in {
        /* margin-bottom: 30px; */
        margin-top: 0;
    }

    .about-head {
        font-size: 1.4rem;
    }

    .about-card {
        margin-left: 5%;
        border: 8px solid rgb(255 255 255);
        width: 72%;
        height: auto;
        padding: 20px;
    }

    .about-in i {
        font-size: 1.8rem;
    }

    .about-card p {
        padding: 10px;
    }

    .ex-head-up {
        font-size: 2.8rem;
    }

    .ex-head-in {
        font-size: 1rem;
    }

    .timeline {
        margin-left: auto;
    }

    .timeline::after {
        left: 18px;
    }

    .experience {
        width: 70%;
        padding-top: 0;
        padding-left: 110px;
    }

    .experience img {
        width: 85px;
    }

    .define {
        height: auto;
    }

    .define-con {
        grid-template-columns: repeat(2, .2fr);
        margin-left: 5%;
        width: 90%;
        height: auto;
    }

    .define-sec h1 {
        font-size: 1.2rem;
    }

    .define-sec p {
        font-size: 1rem;
    }

    .defineimg img {
        height: 300px;
        width: auto;
        margin-top: -25px;
    }

    .you-head {
        margin-top: 30px;
    }

    .you-head-up {
        font-size: 2.2rem;
    }

    .channel-head {
        margin-top: 30px;
    }

    .channel-head-up {
        font-size: 2rem;
    }

    .you-body {
        height: 950px;
        margin-top: -30px;
    }

    footer {
        height: auto;
    }

    .footer-section {
        height: 150px;
        /* font-size: 1rem; */
    }

    .footer-section li {
        font-size: .8rem;
    }

    .footer-bottom {
        margin-top: 115px;
        font-size: .8rem;
    }
}

@media(max-width: 462px) {
    .about {
        height: 900px;
    }
}


@media(max-width: 422px) {
    .sidebar {
        width: 100%;
    }

    .channel-head-up {
        font-size: 2rem;
    }

    .channel-head-in {
        font-size: 1.2rem;
    }

    .you-head-up {
        font-size: 2rem;
    }

    .you-head-in {
        font-size: 1.2rem;
    }


}

@media(max-width: 384px) {
    .channel-head-up {
        font-size: 1.4rem;
    }

    .you-head-up {
        font-size: 1.4rem;
    }
}

@media(max-width: 365px) {
    .about {
        height: 1030px;
    }

    .bio {
        height: auto;
    }
}